@use "../abstracts";

html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%)
    saturate(0%) hue-rotate(137deg) brightness(106%) contrast(102%);

  --header-bg-color: #171c28;
  --body-bg: #292e39;
  --top-act-group-bg-color: #292e39;
  --top-act-group-shadow: rgba(0, 0, 0, 0.2);
  --top-act-seperate-bg: #ededf6;

  --dropdown-bg-color: #3c4250;
  --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(22%) sepia(17%)
    saturate(625%) hue-rotate(184deg) brightness(98%) contrast(87%);
  --top-menu-border-color: #171c28;

  @include abstracts.breakpoint(lg) {
    --header-shadow-color: rgba(0, 0, 0, 0.2);
  }
  --menu-column-icon-color: brightness(0) saturate(100%) invert(95%) sepia(2%)
    saturate(2382%) hue-rotate(165deg) brightness(114%) contrast(99%);
}
